html {
	background: #999999; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.info {
	padding: 50px;
	width: 250px;
	height: 250px;
	margin: auto;
	border-radius: 10px;
	background: white;
}

.success {
	color: green;
}

.blocked {
	color: red;
}