html, body {
	margin: 0;
	padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Lato', sans-serif;
}

#user-input {
	background: #202020;
	color: #C8C8C8;
	height: 100%;
}

#user-input .user-header {
	background: #247BA0;
	margin-left: 12px;
	margin-right: -15px;
	margin-bottom: 15px;
	padding-top: 8px;
	padding-left: 16px;
	height: 110px;
}

.title {
	font-size: 3em;
	color: white;
}

.description {
	font-size: 1em;
	color: white;
}

#user-input form {
	padding-left: 4em;
	padding-right: 4em;
}

#user-input .input-field {
	margin-top: 8px;
	color: white;
	border: none;
	background: #383838;
	color: #C8C8C8;
}

#user-input .submit {
	margin-top: 8px;
	border: none;
	color: white;
	background: #247BA0;
	padding: 5px 12px 5px 12px;
}

/*** VISUALIZATION ***/

.analytics-header {
	padding-top: 38px;
	text-align: center;
	color: #505050;
	font-size: 1.5em;
	height: 110px;
}

.analytics-data {
	height: calc(100% - 110px);
	background: #eef2f7;
	margin-left: -15px;
	margin-right: -15px;
	padding: 15px;
	padding-right: 30px;
}

.analytics-data h3 {
	margin-left: 68px;
	margin-bottom: 20px;
}

.analytics-data ul {
	margin-left: 30px;
	list-style-type: none;
}

.analytics-data li {
	padding-right: 50px;
	display: inline-block;
}

.chart {
	margin-top: 10px;
	margin-bottom: 20px;
}

.chart div {
  font: 12px sans-serif;
  background-color: #247BA0;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}

.subheading {
	font-size: 18px;
}

.analytics-data hr {
	border: 0;
  height: 0;
  width: 87%;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.explanation {
	font-size: 16px;
	padding-left: 68px;
	padding-right: 68px;
}

.explanation h4 {
	margin-top: 30px;
}

.explanation div {
	margin-top: 20px;
}
